In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import random

In [8]:
imdb = pd.read_csv('data.csv')

In [10]:
imdb[imdb['Title'] == "The Dark Knight"]

              Title  Imdb Score  Metascore
35  The Dark Knight         9.0       84.0

In [24]:
imdb[imdb['Title'] == "Star Wars: Episode VI"]

Empty DataFrame
Columns: [Title, Imdb Score, Metascore]
Index: []